<section class="events_single-speaker">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Спікер</h2>
        </div>
        <div class="block_content">
            <div class="block_content-img">
                <img src="img/main_about-company.png" alt="">
            </div>
            <div class="block_content-text">
                <h3 class="content_title">Шелест Євген Леонідович</h3>
                <span class="content_descr">Хірург-імплантолог</span>
                <p>Заслужений лікар України Почесний президент Асоціації імплантологів України.
                    Одним із перших провів операцію щодо встановлення дентального імплантату в Україні. Досвідчений
                    клініцист досконало володіє найскладнішими техніками з регенерації кістки, корекції ясен,
                    імплантації будь-якого ступеня складності та зубозберігаючими операціями.
                    Автор численних статей з дентальної імплантації. Доповідач на стоматологічних форумах та
                    конференціях. Веде навчальні програми для молодих лікарів, інтернів, студентів старших курсів. Є
                    засновником навчальному центрально «Shelest Education».</p>
                <span class="experience">25 років досвіду</span>
                <i>Заслужений лікар України. Почесний президент Асоціації імплантологів України</i>
            </div>
        </div>
    </div>
</section>  