<section class="events_single-conditions">
    <div class="container">
        <div class="block_title">
            <p class="pages_subtitle">Умови <i>участі</i></p>
        </div>
        <div class="block_content">
            <div class="block_content-text">
                <div>
                    <span class="date">Львів, 30.11.2024</span>
                    <h3 class="text-title">Аугментація кістки та мʼяких тканин в дистальних відділах верхньої щелепи
                    </h3>
                    <ul class="text_items">
                        <li>Лекційна та практична частина</li>
                        <li>Розбір Ваших кейсів зі спікером</li>
                        <li>10 Балів БПР</li>
                    </ul>
                </div>
                <div class="prices">
                    <p>Ціна</p>
                    <div class="block_price">
                        <span class="old_price">18 000 UAH</span>
                        <span class="new_price">15 000 UAH</span>
                    </div>
                    <p>Рання реєстрація до 25.10.2024</p>
                    <p>Ви відпрацюєте на практиці всі розглянуті методи аугментації разом зі спікером</p>
                </div>
            </div>
            <div class="block_content-img">
                <img src="img/conditions.png" alt="">
            </div>
            <button class="btn btn_modal-two btn_modalIsOpen btn_conditions">Прийняти участь</button>
        </div>
    </div>
</section>