<section class="events_single-slider">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">практична частина</h2>
            <p class="pages_subtitle">Як проходить <i>практична частина</i></p>
        </div>
        <div class="events-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/events_slider.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/events_bg.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/events_slider.png" alt="">
                </div>
            </div>
            <div class="swiper_bottom">
                <div class="swiper-progressbar"></div>
                <div class="swiper_btn">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>