<section class="events_single-program">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Програма</h2>
        </div>
        <div class="block_content">
            <div class="block_content-item">
                <h2 class="content_title">Синус-ліфтинг</h2>
                <ul class="content_items">
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">01</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">02</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">03</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">04</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                </ul>
            </div>
            <div class="block_content-item">
                <h2 class="content_title">Синус-ліфтинг</h2>
                <ul class="content_items">
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">01</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">02</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">03</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                    <li class="content_item">
                        <div class="item_text">
                            <span class="step">04</span>
                            <p>Біологічні та анатомічні особливості імплантації та аугментації в дистальних відділах
                                верхньої щелепи</p>
                        </div>
                        <div class="item_time">З 12:00 до 15:00</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>