<section class="events_single-main" style="background: url('img/events_bg.png') center center/cover no-repeat;">
    <div class="container">
        <div class="block_flex">
            <span class="date">30.11.2024, Львів</span>
            <i class="author">Шелест Євген Леонідович</i>
            <h1 class="events_title">Аугментація кістки та мʼяких тканин у дистальних відділах верхньої щелепи</h1>
            <button class="btn btn_modal-two btn_modalIsOpen">Прийняти участь</button>
        </div>
    </div>
</section>