.prices_contacts {
    padding: 30px 0;
}

@media (min-width: 648px) {
    .prices_contacts {
        padding: 30px 0;
    }
}


@media (min-width: 1366px) {
    .prices_contacts {
        padding: 50px 0;
    }
}


@media (min-width: 1880px) {
    .prices_contacts {
        padding: 80px 0;
    }
}

