<section class="main_section">
    <div class="container">
        <div class="main_section-content">
            <h1 class="main_section-title">Видалення зуба мудрості</h1>
            <span class="main_section-subtitle">Видаляємо вісімки без травм і болю</span>
            <p class="main_section-descr">У стоматологічній клініці “Шелест” можна видалити зуб мудрості безболістно і
                недорого - від 2 400 грн</p>
        </div>
    </div>
    <div class="main_section-img" style="background: url('img/main_bg.jpg') center center/cover no-repeat;"></div>

</section>