<section class="service_main">
    <div class="container">
        <div class="service_main-content">
            <h1 class="service_main-title">Видалення зуба мудрості</h1>
            <span class="service_main-subtitle">Видаляємо вісімки без травм і болю</span>
            <p class="service_main-descr">У стоматологічній клініці “Шелест” можна видалити зуб мудрості безболістно і
                недорого - від 2 400 грн</p>
            <button class="btn btn_modal-two btn_service">Отримати консультацію</button>
        </div>
    </div>
    <div class="service_main-img" style="background: url('img/main_bg.jpg') center center/cover no-repeat;"></div>

</section>