<div class="modal_form">
    <div class="modal_wrapper">
        <span class="modal_close"></span>
        <h4 class="modal_title">Записатися на консультацію</h4>
        <p class="modal_descr">Ваш ідеальний зубний догляд починається тут — запишіться зараз!</p>
        <form action="#" class="form form_wide">
            <input type="hidden" name="page_name" value="">
            <div class="inputs">
                <input type="text" name="name" placeholder="Ім'я">
                <input type="text" name="phone" placeholder="Телефон">
                <input type="text" name="mail" placeholder="Email">
                <div class="custom-select">
                    <div class="custom-select__selected">Оберіть тип обладнення</div>
                    <ul class="custom-select__options">
                        <li class="custom-select__option">Послуга 1</li>
                        <li class="custom-select__option">Послуга 2</li>
                        <li class="custom-select__option">Послуга 3</li>
                    </ul>
                </div>
                <textarea name="textarea" placeholder="Коментар"></textarea>
            </div>
            <button class="btn btn_submitForm btn_modal-two">Записатись на консультацію</button>
        </form>
    </div>
</div>