<section class="equipment_main">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Обладнання</h2>
            <span class="pages_descr">Відмінною особливістю нашої клініки від більшості інших є можливість проведення
                лікування дорослих та дітей під седацією (медикаментозний сон).</span>
        </div>
        <ul class="default_tabs">
            <li class="default_tab default_tab-active">Діагностика</li>
            <li class="default_tab">Лікування зубів</li>
            <li class="default_tab">Пародонтологія</li>
            <li class="default_tab">Імплантація</li>
            <li class="default_tab">Естетична хірургія</li>
            <li class="default_tab">Видалення зубів</li>
            <li class="default_tab">Протезування</li>
            <li class="default_tab">Ортодонтія</li>
        </ul>
        <div class="block_tabs">
            <div class="block_tab block_tab-active">
                <div class="block_tab-descr">
                    <h3 class="block_tab-title">Стерилізаційне обладнання</h3>
                    <p>Один із головних принципів, які сповідуються в нашій клініці - безпека наших пацієнтів. Всі
                        лікарі
                        клініки максимально використовують одноразові інструменти, а в тих випадках, коли це
                        неможливо,
                        стерилізація проходить за допомогою новітнього обладнання, що включає термодезінфектор фірми
                        MILLE,
                        який є визнаним лідером у виробництві подібної техніки і двох автоклавів класу В, які можуть
                        бути
                        використані в будь-яких галузях медицини. Тільки автоклави класу застосовуються для
                        стерилізації
                        стоматологічних наконечників та інших складних приладів. Забруднення із важкодоступних місць
                        видаляються за допомогою ультразвукового миття. Весь багаторазовий інструмент після
                        проходження
                        повного циклу стерилізації запечатується в одноразові крафт-пакети, які розкриваються
                        безпосередньо
                        перед прийомом.</p>
                    <p>Весь цей комплекс заходів зводить до мінімуму вплив людського фактора на процес стерилізації
                        та
                        дезінфекції, що в існуючих реаліях є необхідним. Кожен наш пацієнт має можливість побачити
                        стерилізаційне обладнання і переконатися в повній безпеці лікування. Ми купуємо
                        стерилізаційне
                        обладнання виключно світових брендів, перевірене роками бездоганної роботи.</p>
                </div>
                <div class="block_tab-img">
                    <div class="img" style="background: url('img/equipment.png') center center/cover no-repeat">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>