<section class="main_about-company">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Про клініку</h2>
            <p class="pages_subtitle">Шелест <i>Євген Леонідович</i>
        </div>
        <div class="block_content">
            <div class="block_content-descr">
                <span>Засновник та ідейний натхненник клініки Шелест</span>
                <p>Ми обрали своєю професією медицину, яка для нас – мистецтво, наука, робота. Ми не помилилися у своєму
                    виборі. Ми теж люди, і як всі радіємо та засмучуємося, переживаємо та співчуваємо.</p>
                <p>Так само як і всі ми іноді хворіємо і нам теж доводиться лікуватися. Якщо це все ж таки відбувається,
                    то ми дізнаємося у знайомих де знайти хорошого і грамотного фахівця? Як він ставиться до пацієнтів і
                    чи можна йому довіряти? Як він діє у складній ситуації? Дуже погано ставимося до неуважності
                    та грубості. Дуже не хочемо бездушності та непорядності.</p>
                <p>Створюючи клініку хотілося, щоб наші пацієнти відчували дбайливе ставлення до себе, високий
                    професіоналізм та були задоволені якістю лікування, не відчуваючи себе при цьому хворими.</p>
            </div>
            <div class="block_content-video">
                <a href="#" class="button_play"></a>
                <div class="img" style="background: url('img/main_about-company.png') center center/cover no-repeat;"></div>
            </div>
        </div>
    </div>
</section>