<section class="main_services">
    <div class="container">
        <div class="main_services-title">
            <div class="block_title">
                <h2 class="pages_title">Наші послуги</h2>
                <p class="pages_subtitle"><i>25 років бездоганної репутації.</i> Беремося за найскладніші випадки в
                    стоматології!</p>
            </div>
            <button class="btn btn_modal-two">Консультація</button>
        </div>
        <div class="services_menu">
            <div class="services_menu-item">
                <div class="menu-item_img"
                    style="background: url('img/services_menu.png') center center/cover no-repeat;"></div>
                <div class="block_flex">
                    <div class="number">
                        <span>01</span>
                    </div>
                    <ul class="menu-item_nav">
                        <h4 class="menu-item_nav__title">Діагностика</h4>
                        <a href="#" class="more_link">Детальніше</a>
                    </ul>
                </div>
                <a href="#" class="link_services"></a>
            </div>
            <div class="services_menu-item">
                <div class="menu-item_img"
                    style="background: url('img/services_menu.png') center center/cover no-repeat;"></div>
                <div class="block_flex">
                    <div class="number">
                        <span>01</span>
                    </div>
                    <ul class="menu-item_nav">
                        <h4 class="menu-item_nav__title">Терапевтичне лікування</h4>
                        <li>
                            <a href="#">Лікування зубів</a>
                        </li>
                        <li>
                            <a href="#">Лікування зубів</a>
                        </li>
                        <a href="#" class="more_link">Детальніше</a>
                    </ul>
                </div>
                <a href="#" class="link_services"></a>
            </div>
            <div class="services_menu-item">
                <div class="menu-item_img"
                    style="background: url('img/services_menu.png') center center/cover no-repeat;"></div>
                <div class="block_flex">
                    <div class="number">
                        <span>01</span>
                    </div>
                    <ul class="menu-item_nav">
                        <h4 class="menu-item_nav__title">Пародонтологія</h4>
                        <li>
                            <a href="#">Професійна гігієна</a>
                        </li>
                        <li>
                            <a href="#">Закритий кюретаж </a>
                        </li>
                        <li>
                            <a href="#">Вектор терапія (переімплантіти, та інше)</a>
                        </li>
                        <a href="#" class="more_link">Детальніше</a>
                    </ul>
                </div>
                <a href="#" class="link_services"></a>
            </div>
        </div>
        <a href="#" class="btn btn_modal-two services_more">Дивитись усі послуги</a>
    </div>
</section>