<section class="main_about">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Про нас</h2>
            <p class="pages_subtitle">Ми обрали своєю професією медицину, яка для нас – <i>мистецтво, наука, робота.</i>
            </p>
        </div>
        <div class="block_descr">
            <div class="block_descr-team">
                <ul class="team_foto">
                    <li>
                        <img src="img/team-1.png" alt="">
                    </li>
                    <li>
                        <img src="img/team-2.png" alt="">
                    </li>
                    <li>
                        <img src="img/team-3.png" alt="">
                    </li>
                </ul>
                <button class="btn btn_modal-two">Наша команда</button>
            </div>
            <div class="block_descr-text">
                <span class="text_bold">Ми – команда унікальних фахівців, які зроблять Вашу усмішку ідеальною навіть у
                    найскладніших випадках.</span>
                <p class="text_default">Професійний погляд - це погляд на лікування в комплексі: суглобові функції,
                    стирання, патології прикусу, співвідношення рис обличчя. Все, щоб ваша усмішка була не тільки
                    красивою, а й насамперед здоровою і результат радував довгі роки.</p>
            </div>
        </div>
        <div class="block_img">
            <div class="img" style="background: url('img/team_img-1.png') center center/cover no-repeat;"></div>
            <div class="img" style="background: url('img/team_img-2.jpg') center center/cover no-repeat;"></div>
        </div>
    </div>
</section>