.footer {
    padding: 0 0 30px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: $bgColor;
    }

    .container {
        .footer_top {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            padding: 30px 0;
            border-top: 1px solid #343437;
            border-bottom: 1px solid #343437;

            .footer_logo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 110px;
                    height: auto;
                }
            }

           

            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 20px;
                width: calc(45% - 10px);

                &_item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    border: 1px solid $colorWhite;
                    padding: 8px;
                    transition: .3s all ease;
                    flex-shrink: 0;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                    &:hover {
                        border: 1px solid #E3C7B7;

                        .change_color {
                            fill: #E3C7B7;
                        }
                    }
                }
            }
        }

        .footer_navigation {
            .default_list {
                margin-top: 30px;

                .list_title {
                    color: $colorWhite;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 109.875%;
                    letter-spacing: 0.28px;
                    text-transform: uppercase;
                    display: block;
                    padding: 0 0 10px;
                    position: relative;
                    border-bottom: 1px solid #E3C7B7;


                }

                ul {
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 10px 0;

                    li {
                        width: 100%;

                        a,
                        p {
                            color: #C9C9C9;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .footer_navigation-list,
            .footer_services-list {
                ul {
                    gap: 10px 20px;

                    li {
                        width: calc(50% - 10px);
                    }
                }
            }
        }
        .footer_list {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px 0 0;
            border-top: 1px solid #343437;
            gap: 20px;
            li {
                a {
                    color: #83838C;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: underline;
                }

                p {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

@media (min-width: 648px) {
    .footer {
        padding: 0 0 60px;

        .container {
            .footer_top {
                justify-content: space-between;
                gap: 0;
                align-items: center;
                .footer_logo {
                    width: 33%;
                    order: 2;
                    justify-content: flex-start;
                }

                

                .social {
                    width: 33%;
                    order: 3;
                    justify-content: flex-end;
                }
            }

            .footer_navigation {
                margin-top: 40px;
                gap: 50px 60px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                .default_list {
                    margin: 0;

                    .list_title {
                        font-size: 16px;
                        letter-spacing: 0.32px;
                    }

                    ul {
                        margin-top: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        gap: 15px 0;

                        li {
                            width: 100%;

                            a,
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .footer_navigation-list,
                .footer_work-list {
                    width: calc(33% - 30px);
                }

                .footer_services-list {
                    width: calc(66% - 30px);

                    ul {
                        gap: 10px 20px;

                        li {
                            width: calc(50% - 10px);
                        }
                    }
                }

                .footer_contacts-list {
                    width: calc(66% - 30px);
                }
            }
            .footer_list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                padding: 30px 0 0;
                margin-top: 30px;
                li {
                    a {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}


@media (min-width: 1366px) {
    .footer {
        .container {
            .footer_top {
                justify-content: flex-end;
                gap: 0;
                flex-wrap: nowrap;
                position: relative;
                padding: 40px 0;
                .footer_logo {
                    width: auto;    
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    
                }
    
                
    
                .social {
                    width: auto;
                    order: 3;
    
                    li {
                        &:hover {
                            border: 1px solid #E3C7B7;
    
                            .change_color {
                                fill: #E3C7B7;
                            }
                        }
                    }
                }
            }
    
            .footer_navigation {
                gap: 50px 40px;
                flex-wrap: nowrap;
    
                .default_list {
                    .list_title {
                        font-size: 16px;
                        letter-spacing: 0.32px;
                    }
    
                    ul {
                        margin-top: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        gap: 15px 0;
    
                        li {
                            width: 100%;
    
                            a,
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
    
                .footer_navigation-list,
                .footer_work-list {
                    width: calc(25% - 10px);
                }
    
                .footer_services-list {
                    width: calc(25% - 10px);
    
                    ul {
                        gap: 15px;
    
                        li {
                            width: 100%;
                        }
                    }
                }
    
                .footer_contacts-list {
                    width: calc(25% - 10px);
                }
            }
            .footer_list {
                margin-top: 50px;
                padding: 50px 0 0 ;
            }
        }
    }
}





@media (min-width: 1880px) {
    .footer {
        .container {
            .footer_navigation {
                gap: 50px 40px;
                flex-wrap: nowrap;

                .default_list {
                    .list_title {
                        font-size: 16px;
                        letter-spacing: 0.32px;
                    }

                    ul {
                        margin-top: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        gap: 15px 0;

                        li {
                            width: 100%;

                            a,
                            p {
                                font-size: 16px;
                            }
                            &:hover {
                                a {
                                    color: $colorWhite;
                                }
                            }
                        }
                    }
                }
                .footer_work-list {
                    width: calc(20% - 10px);
                }
                .footer_navigation-list {
                    width: calc(30% - 10px);
                    
                    ul {
                        gap: 15px 20px;
                        li {
                            width: calc(50% - 10px);
                        }
                    }
                }
                .footer_services-list {
                    width: calc(30% - 10px);
                    width: calc(30% - 10px);
                    
                    ul {
                        gap: 15px 20px;
                        li {
                            width: calc(50% - 10px);
                        }
                    }
                }

                .footer_contacts-list {
                    width: calc(20% - 10px);
                }
            }
        }
    }
}