@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/Garamond/CormorantGaramond-LightItalic.eot');
  src: url('../fonts/Garamond/CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Garamond/CormorantGaramond-LightItalic.woff2') format('woff2'),
  url('../fonts/Garamond/CormorantGaramond-LightItalic.woff') format('woff'),
  url('../fonts/Garamond/CormorantGaramond-LightItalic.svg#CormorantGaramond-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
