<section class="events_items">
    <div class="container">
        <div class="items_flex">
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date">12.02.2025</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-end">Завершилась</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-text">Скоро відбудеться</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date">12.02.2025</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-end">Завершилась</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-text">Скоро відбудеться</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date">12.02.2025</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-end">Завершилась</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
            <a class="events_item" href="#" style="background: url('img/events_items.png') center center/cover no-repeat;">
                <span class="date date-text">Скоро відбудеться</span>
                <div class="text_block">
                    <h3 class="events_title">Хірургічні шаблони: Повний цифровий протокол</h3>
                    <p class="events_descr">Георгій Трифонов</p>
                </div>
            </a>
        </div>
        <div class="pagination">
            <a href="#" class="arrow prev">&#8592;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <span>...</span>
            <a href="#">10</a>
            <a href="#" class="arrow next">&#8594;</a>
          </div>
          
    </div>
</section>