<section class="our-team_main">
    <div class="container">
        <div class="block_title block_title-wide">
            <h2 class="pages_title">Наша команда</h2>
            <p class="pages_subtitle">У нашій клініці працює команда різнопрофільних <i>висококваліфікованих
                    фахівців</i></p>
            <span class="pages_descr">які за допомогою сучасного діагностичного та лікувального обладнання, що є у
                нас, зроблять ваше лікування комфортним і безпечним.</span>
        </div>
        <div class="team_items">
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-1.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Шелест Людмила Григорівна</h4>
                <span class="team_subtitle">Директор</span>
                <p class="team_descr">Заслужений лікар України. Почесний президент Асоціації імплантологів України</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-2.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Шелест Євгеній Леонідович</h4>
                <span class="team_subtitle">Хірург-імплантолог</span>
                <span class="team_subtitle">25 років досвіду</span>
                <p class="team_descr">Заслужений лікар України. Почесний президент Асоціації імплантологів України</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-3.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Марченко Олена Леонідівна</h4>
                <span class="team_subtitle">Гнатолог-Ортопед</span>
                <p class="team_descr">Заслужений лікар України. Почесний президент Асоціації імплантологів України</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-4.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Шелест Марія Євгеніївна</h4>
                <span class="team_subtitle">Лікар-пародонтолог, терапевт</span>
                <p class="team_descr">Спеціалізується на лікуванні захворювань ясен, прямих реставраціях зубів,
                    лікуванні дітей та дорослих.</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-5.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Андрієнко Дмитро Сергійович</h4>
                <span class="team_subtitle">Ортопед</span>
                <p class="team_descr">Лікар, який займається протезуванням. Коронки, вініри, протезування на імплантах -
                    все це його компетенція.</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-6.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Китастий Олексій</h4>
                <span class="team_subtitle">Ортопед</span>
                <p class="team_descr">Стаж роботи 15 років. Сертифікований лікар рівня Gold Elite у роботі з системою
                    елайнерів Invisalign.</p>
            </a>
            <a href="#" class="team_item">
                <div class="img" style="background: url('../img/doctor-7.png') center center/cover no-repeat;"></div>
                <h4 class="team_title">Каращук Василь</h4>
                <span class="team_subtitle">Ендодонтист</span>
                <p class="team_descr">Спеціалізується на лікуванні і перелікуванні кореневих каналів, хірургічній
                    ендодонтії, рятує зуби від видалення у найскладніших </p>
            </a>
        </div>
    </div>
</section>