.events_single-result {
    position: relative;
    padding: 30px 0;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #212122;
        z-index: -1;
    }

    .container {
        .result_items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;

            .result_item {
                padding: 15px 20px;
                position: relative;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: #29292B;
                    z-index: -1;
                }

                span {
                    color: #E3C7B7;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 19px;
                }

                p {
                    margin-top: 10px;
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }
    }
}


@media (min-width: 648px) {
    .events_single-result {
        padding: 35px 0;

        .container {
            .result_items {
                margin-top: 30px;

                .result_item {
                    padding: 20px 25px;

                    span {
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1366px) {
    .events_single-result {
        padding: 40px 0;

        .container {
            .result_items {
                margin-top: 50px;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                gap: 20px;
                flex-wrap: wrap;

                .result_item {
                    padding: 40px 50px;
                    width: calc(33% - 10px);
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    span {
                        text-align: center;
                        font-size: 18px;
                        line-height: 28px;
                    }

                    p {
                        font-size: 16px;
                        margin: 0;
                        text-align: center;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1880px) {
    .events_single-result {
        padding: 60px 0;

        .container {
            .result_items {
                gap: 40px;
                .result_item {
                    padding: 45px 95px;
                    width: calc(33% - 22px);

                    span {
                        font-size: 22px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}