<section class="prices_main">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Прайс</h2>
            <p class="pages_subtitle">Наші <i>ціни</i></p>
            <span class="pages_descr">Ми – стоматологічна клініка Шелеста, з 2002 року забезпечуємо повний спектр стоматологічної допомоги</span>
        </div>
        <ul class="default_tabs">
            <li class="default_tab default_tab-active">Діагностика</li>
            <li class="default_tab">Лікування зубів</li>
            <li class="default_tab">Пародонтологія</li>
            <li class="default_tab">Імплантація</li>
            <li class="default_tab">Естетична хірургія</li>
            <li class="default_tab">Видалення зубів</li>
            <li class="default_tab">Протезування</li>
            <li class="default_tab">Ортодонтія</li>
        </ul>
        <div class="block_tabs">
            <div class="block_tab block_tab-active">
                <h3 class="block_tab-title">Діагностика</h3>
                <ul class="prices_list">
                    <div class="prices_list-title">
                        <span>Найменування послуги</span>
                        <span>Ціна (грн)</span>
                    </div>
                    <li>
                        <p class="prices_list-name">Консультація</p>
                        <p class="prices_list-value">500 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Терапевтична діагностика схованих каріозних порожнин</p>
                        <p class="prices_list-value">300 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">500 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">600 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Панорамна рентгенографія</p>
                        <p class="prices_list-value">1 000 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Консультація головного лікаря з планом лікування</p>
                        <p class="prices_list-value">1 400 грн</p>
                    </li>
                </ul>
            </div>
            <div class="block_tab">
                <h3 class="block_tab-title">Діагностика 2</h3>
                <ul class="prices_list">
                    <div class="prices_list-title">
                        <span>Найменування послуги</span>
                        <span>Ціна (грн)</span>
                    </div>
                    <li>
                        <p class="prices_list-name">Консультація</p>
                        <p class="prices_list-value">5vsd00 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Терапевтична діагностика схованих каріозних порожнин</p>
                        <p class="prices_list-value">sdv300 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">50sdv0 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">600dsv грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Панорамна рентгенографія</p>
                        <p class="prices_list-value">1 000 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Консультація головного лікаря з планом лікування</p>
                        <p class="prices_list-value">1 400 грн</p>
                    </li>
                </ul>
            </div>
            <div class="block_tab">
                <h3 class="block_tab-title">Діагностика 3</h3>
                <ul class="prices_list">
                    <div class="prices_list-title">
                        <span>Найменування послуги</span>
                        <span>Ціна (грн)</span>
                    </div>
                    <li>
                        <p class="prices_list-name">Консультація</p>
                        <p class="prices_list-value">500 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Терапевтична діагностика схованих каріозних порожнин</p>
                        <p class="prices_list-value">300 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">500 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Фотодіагностика</p>
                        <p class="prices_list-value">600 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Панорамна рентгенографія</p>
                        <p class="prices_list-value">1 000 грн</p>
                    </li>
                    <li>
                        <p class="prices_list-name">Консультація головного лікаря з планом лікування</p>
                        <p class="prices_list-value">1 400 грн</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>