<section class="contacts_main prices_contacts">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Наші контакти</h2>
            <p class="pages_subtitle">Запишись <i>на консультацію</i></p>
        </div>
        <div class="block_content">
            <div class="block_content-list">
                <a href="#">
                    <img src="img/phone_contacts.svg" alt="">
                    <p>+38 (050) 961 05 30
                </a>
                </a>
                <a href="#">
                    <img src="img/mail_contacts.svg" alt="">
                    <p>shelestkyev@gmail.com</p>
                </a>
                <div>
                    <img src="img/point_contacts.svg" alt="">
                    <p>Київ, вулиця Січових Стрільців, 42</p>
                </div>
            </div>
            <div class="block_content-form">
                <form action="#" class="form form_wide">
                    <div class="inputs">
                        <input type="text" name="name" placeholder="Ім'я">
                        <input type="text" name="phone" placeholder="Телефон">
                        <input type="text" name="mail" placeholder="Email">
                        <div class="custom-select">
                            <div class="custom-select__selected">Оберіть тип обладнення</div>
                            <ul class="custom-select__options">
                                <li class="custom-select__option">Послуга 1</li>
                                <li class="custom-select__option">Послуга 2</li>
                                <li class="custom-select__option">Послуга 3</li>
                            </ul>
                        </div>
                        <textarea name="textarea" placeholder="Коментар"></textarea>
                    </div>
                    <button class="btn btn_submitForm btn_modal-two">Записатись на консультацію</button>
                </form>
            </div>
        </div>
        <div class="block_map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5080.291494360643!2d30.489755508758687!3d50.45701059893122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce640dbbcdd9%3A0x86e575870dc546f6!2sSichovykh%20Striltsiv%20St%2C%2042%2C%20Kyiv%2C%20Ucrania%2C%2002000!5e0!3m2!1ses!2ses!4v1733123438651!5m2!1ses!2ses"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>