<div class="service_slider service_block">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Відгуки</h2>
        </div>
        <div class="service-swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fancybox href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                        class="swiper-slide_link">
                        <img src="img/shorts.png" alt="">
                        <span class="play"></span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="" href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                        class="swiper-slide_link">
                        <img src="img/shorts.png" alt="">
                        <span class="play"></span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                        class="swiper-slide_link">
                        <img src="img/shorts.png" alt="">
                        <span class="play"></span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                        class="swiper-slide_link">
                        <img src="img/shorts.png" alt="">
                        <span class="play"></span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                        class="swiper-slide_link">
                        <img src="img/shorts.png" alt="">
                        <span class="play"></span>
                    </a>
                </div>
            </div>
            <div class="swiper_bottom">
                <div class="swiper-progressbar"></div>
                <div class="swiper_btn">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>