<section class="service">
    <div class="service_wrapper">
        <div class="service_sidebar">
            <h4 class="service_sidebar-title">Послуги</h4>
            <ul class="service_sidebar-navigation mobile_menu-nav">
                <li>
                    <a href="#">Діагностика</a>
                    <ul class="service_sidebar-subnav mobile_submenu">
                        <li>
                            <a href="#">Видалення зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення зубів уві сні</a>
                        </li>
                        <li>
                            <a href="#">Видалення зубів мудрості</a>
                        </li>
                        <li>
                            <a href="#">Видалення молочних зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення ретинованних зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення кісти зуба</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Пародонтологія</a>
                </li>
                <li>
                    <a href="#">Імплантація</a>
                </li>
                <li>
                    <a class="active" href="#">Хірургічна стоматологія</a>
                    <ul class="service_sidebar-subnav service_sidebar-subnav-active mobile_submenu">
                        <li>
                            <a href="#">Видалення зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення зубів уві сні</a>
                        </li>
                        <li>
                            <a href="#">Видалення зубів мудрості</a>
                        </li>
                        <li>
                            <a href="#">Видалення молочних зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення ретинованних зубів</a>
                        </li>
                        <li>
                            <a href="#">Видалення кісти зуба</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ортопедія</a>
                </li>
                <li>
                    <a href="#">Ортопедія</a>
                </li>
            </ul>
            <button class="btn btn_modal-two btn_modalOpen">Отримати консультацію</button>
        </div>
        <div class="service_content">
            <ul class="service_nav service-default ">
                <li>
                    <a class="link_section" href="#section-1">Опис послуги</a>
                </li>
                <li>
                    <a class="link_section" href="#section-2">Показання</a>
                </li>
                <li>
                    <a class="link_section" href="#section-3">Етапи видалення</a>
                </li>
                <li>
                    <a class="link_section" href="#section-4">Ціни</a>
                </li>
                <li>
                    <a class="link_section" href="#section-5">Запитання та відповіді</a>
                </li>
            </ul>
            <div class="about_service" id="section-1">
                <div class="block_title">
                    <h2 class="pages_title">Про послугу</h2>
                </div>
                <div class="about_service-descr">
                    <span class="descr_bold">Видаленна зубів у клініці Шелеста проводиться з обов’язковою умовою
                        мінімальної травматичної, завдяки чому це приносить манамальний дискомфорт після процедури та
                        дозволяє зберегти кістку для перспективи імплатації.</span>
                    <p class="descr_regular">Ми пишаємося тим, що можемо здійснити видалення найскладніших зубів, у тому
                        числі ретинованих зубів мудрості навіть там, де часто немає виходу, крім стаціонарного
                        лікування.</p>
                    <p class="descr_regular">Крім того, наші пацієнти давно оцінили можливість видалення всіх чотирьох
                        зубів мудрості за один раз під час медикаментозного сну.</p>
                </div>
            </div>
            <div class="service_block">
                <h4 class="service_block-title">Чи потрібно видаляти зуби мудрості</h4>
                <div class="service_block-flex">
                    <div class="service_block-img">
                        <img src="img/service_block.png" alt="">
                    </div>
                    <div class="service_block-descr">
                        <span class="descr-bold">Стоматологи впевнені, що за відсутності прямих показань до видалення,
                            їх
                            варто лікувати і зберегти. Ось кілька причин.</span>
                        <p class="descr-regular">По-перше, вісімки можуть бути використані стоматологом-ортопедом для
                            встановлення моста, наприклад, за відстуності 6 або 7 одиниці. Або для надійнішої фіксації
                            бюгельного протеза</p>
                        <p class="descr-regular">По-друге, якщо вирвати вісімку, то зуб-антогоніст вісунеться з щелепи з
                            причин відстуності жувального навантаження.</p>
                        <p class="descr-regular">По-третє, в окремих випадках здорова і підходяща за формою 8-ка може
                            бути
                            викорастана для реплатнації - вона ставиться на місце раніше віддаленої одиниці. Потрібно
                            видалення пульпи 8-ки</p>
                    </div>
                </div>
            </div>
            <div class="service_block" id="section-2">
                <h4 class="service_block-title">Показання до видалення</h4>
                <span class="service_block-subtitle">Карще видалити зуб мудрості, якщо він:</span>
                <div class="service_block-flex flex-reverse">
                    <div class="service_block-img">
                        <img src="img/service_block.png" alt="">
                    </div>
                    <ul class="service_block-list">
                        <li>Заважає ортодонтичному лікуванню з виправлення прикусу</li>
                        <li>Призводить до скучености зубів через відсутність місця для прорізування</li>
                        <li>Тисне на сімку, провокуючи її руйнуванн</li>
                        <li>Під час прорізування призвів до утворення запального каптура (перикоронарит)</li>
                        <li>Широко уражений карієсом, є ускладення у вигляді запалення пульпи або періодонту</li>
                        <li>Має гній коріння, можливий розвиток періоститу щелепи або остеомієліту</li>
                        <li>Аномально розташований, травмує сусідні одиниці, м’які тканини</li>
                        <li>Наявність кореневої кісти</li>
                        <li>Сильно переламаний у результаті травми</li>
                    </ul>
                </div>
            </div>
            <div class="service_stages service_block" id="section-3">
                <h4 class="service_block-title">Етапи видалення</h4>
                <div class="service_block-text">Послідовність роботи залежить від клінічної картини</div>
                <span class="service_block-subtitle">Просте видалення - прорізувана 8-ка з правильним розташуванням
                    коренів</span>
                <ul class="service_stages-items">
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Крок 1</span>
                            <p class="block_content-descr">Стоматолог-хірург візуально оглядає порожнину рота, оцінює
                                розташування 8-ки. За потреби робиться панорамний знімок (ортопантомограма)</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Крок 2</span>
                            <p class="block_content-descr">Після введення ін’экції місцевої анестезії лікар захоплює
                                щипцями проблемний третій моляр, акуратними рухами розхитує його і вириває. Пацієнт не
                                відчуває болю.</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Крок 3</span>
                            <p class="block_content-descr">Лунка, що утворилася, обробляється антисептиком. Якщо
                                портібно, лунка ушивається. Тривалість операції - до 20 хвилин</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="service_doctor service_block">
                <div class="block_title">
                    <h2 class="pages_title">Лікар</h2>
                </div>
                <div class="block_content">
                    <div class="block_content-img">
                        <img src="img/main_about-company.png" alt="">
                    </div>
                    <div class="block_content-text">
                        <h3 class="block_content-title">Шелест <i>Євген Леонідович</i></h3>
                        <span class="block_content-subtitle">Хірург-імплантолог</span>
                        <p class="block_content-descr">Заслужений лікар України Почесний президент Асоціації
                            імплантологів України.
                            Одним із перших провів операцію щодо встановлення дентального імплантату в Україні.
                            Досвідчений клініцист досконало володіє найскладнішими техніками з регенерації кістки,
                            корекції ясен, імплантації будь-якого ступеня складності та зубозберігаючими операціями.
                            Автор численних статей з дентальної імплантації. Доповідач на стоматологічних форумах та
                            конференціях. Веде навчальні програми для молодих лікарів, інтернів, студентів старших
                            курсів. Є засновником навчальному центрально «Shelest Education».</p>
                    </div>
                </div>
            </div>
            <div class="service_price service_block" id="section-4">
                <div class="block_title">
                    <h2 class="pages_title">Прайс</h2>
                    <p class="pages_subtitle">Ціни на <i>видалення зуба</i></p>
                </div>
                <div class="block_tab">
                    <ul class="prices_list">
                        <div class="prices_list-title">
                            <span>Найменування послуги</span>
                            <span>Ціна (грн)</span>
                        </div>
                        <li>
                            <p class="prices_list-name">Консультація</p>
                            <p class="prices_list-value">500 грн</p>
                        </li>
                        <li>
                            <p class="prices_list-name">Терапевтична діагностика схованих каріозних порожнин</p>
                            <p class="prices_list-value">300 грн</p>
                        </li>
                        <li>
                            <p class="prices_list-name">Фотодіагностика</p>
                            <p class="prices_list-value">500 грн</p>
                        </li>
                        <li>
                            <p class="prices_list-name">Фотодіагностика</p>
                            <p class="prices_list-value">600 грн</p>
                        </li>
                        <li>
                            <p class="prices_list-name">Панорамна рентгенографія</p>
                            <p class="prices_list-value">1 000 грн</p>
                        </li>
                        <li>
                            <p class="prices_list-name">Консультація головного лікаря з планом лікування</p>
                            <p class="prices_list-value">1 400 грн</p>
                        </li>
                    </ul>
                </div>
                <button class="btn btn_modal-two btn_modalIsOpen">Записатись на прийом</button>
            </div>
            <div class="service-recommendations service_block">
                <div class="block_title">
                    <h2 class="pages_title">Рекомандації</h2>
                    <p class="pages_subtitle">Рекомендаціх після видалення <i>зуба мудрості</i></p>
                </div>
                <div class="service_block-flex">
                    <ul class="service_block-list">
                        <li>Протягом перших кількох годин робіть холодні компреси, щоб зняти набряк. Жодніх гарячих
                            компресів (небеспечно розвитком набряку).</li>
                        <li>Перші кулька днів не полоскайте рот, а просто набирайте в рот антисептичний розчин. Тримайте
                            20-30 секунд, акуратно сплюньте.</li>
                        <li>Широко уражений карієсом, є ускладення у вигляді запалення пульпи або періодонту</li>
                        <li>Чищенна зубів обов’язкове вже наступного дня після операції. Але, одиниці, які належать до
                            місця видалення, рекомендується чистити м’якою щіткою, дуже акуратно, намагаючись не
                            травмувати оперовану область.</li>
                        <li>Пийте, їжте лише їжу/напої кімнатної температури. Виключіть тверду, жорстку їжу на перші 3-5
                            днів.</li>
                        <li> Відмовтеся від куріння як мінімум на тиждень.</li>
                        <li>Обмежте фізичні навантаження на 5-7 днів після проведення процедури екстракції</li>
                    </ul>
                </div>
            </div>
            <div class="service_advice service_block">
                <div class="block_title">
                    <h2 class="pages_title">Порада</h2>
                </div>
                <div class="block_content">
                    <div class="block_content-img">
                        <img src="img/main_about-company.png" alt="">
                    </div>
                    <div class="block_content-advice">
                        <span class="advice-title">Порада від лікаря</span>
                        <p class="advice-descr">Після введення ін’єкції місцевої анестезії лікар захоплює щипцями
                            проблемний третій моляр, аккуратними рухами розхитує його і вириває. Пацієнт не відчуває
                            блдю</p>
                    </div>
                </div>
            </div>
            <div class="service_faq service_block" id="section-5">
                <div class="block_title">
                    <h2 class="pages_title">Запитання та відповіді</h2>
                </div>
                <div class="faq">
                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Коли можна їсти?</span>
                            <span class="faq-toggle">+</span>
                        </div>
                        <div class="faq-answer">
                            Перші 2-3 години після операції не можна пити, їсти. Протягом перших 2-3 днів рекомендується
                            виключити гарячу, волокнисту, зернисту їжу.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Коли можна пити алкоголь?</span>
                            <span class="faq-toggle">+</span>
                        </div>
                        <div class="faq-answer">
                            Рекомендується утримуватись від вживання алкоголю принаймні протягом першого тижня після
                            операції.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Скільки болить ясна після екстракції 8-ки?</span>
                            <span class="faq-toggle">+</span>
                        </div>
                        <div class="faq-answer">
                            Рекомендується утримуватись від вживання алкоголю принаймні протягом першого тижня після
                            операції.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Як не допустити ускладнень після складного видалення?</span>
                            <span class="faq-toggle">+</span>
                        </div>
                        <div class="faq-answer">
                            Рекомендується утримуватись від вживання алкоголю принаймні протягом першого тижня після
                            операції.
                        </div>
                    </div>
                </div>

            </div>
            <div class="service_slider service_block">
                <div class="block_title">
                    <h2 class="pages_title">Наші лікарі</h2>
                </div>
                <div class="service-swiper  swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide_img">
                                <img src="img/doctor-2.png" alt="">
                            </div>
                            <div class="swiper-slide_text">
                                <h5 class="text-title">Шелест Людмила Григорівна</h5>
                                <span class="text-subtitle">Директор</span>
                                <p class="text-descr">
                                    Заслужений лікар України. Почесний президент Асоціації імплантологів України
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide_img">
                                <img src="img/doctor-1.png" alt="">
                            </div>
                            <div class="swiper-slide_text">
                                <h5 class="text-title">Шелест Людмила Григорівна</h5>
                                <span class="text-subtitle">Директор</span>
                                <p class="text-descr">
                                    Заслужений лікар України. Почесний президент Асоціації імплантологів України
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide_img">
                                <img src="img/doctor-2.png" alt="">
                            </div>
                            <div class="swiper-slide_text">
                                <h5 class="text-title">Шелест Людмила Григорівна</h5>
                                <span class="text-subtitle">Директор</span>
                                <p class="text-descr">
                                    Заслужений лікар України. Почесний президент Асоціації імплантологів України
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide_img">
                                <img src="img/doctor-3.png" alt="">
                            </div>
                            <div class="swiper-slide_text">
                                <h5 class="text-title">Шелест Людмила Григорівна</h5>
                                <span class="text-subtitle">Директор</span>
                                <p class="text-descr">
                                    Заслужений лікар України. Почесний президент Асоціації імплантологів України
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper_bottom">
                        <div class="swiper-progressbar"></div>
                        <div class="swiper_btn">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_video service_block">
                <div class="block_title">
                    <h2 class="pages_title">Про клініку</h2>
                    <p class="pages_subtitle"><i>Шелест Євгеній Леонідович </i>розповідає про клініку та проводе
                        презентацію</p>
                </div>
                <a data-fancybox href="https://www.youtube.com/watch?v=0DCTCszVgMs&ab_channel=VIDEOPRODUCTION"
                    class="service_video-item">
                    <img src="img/video.png" alt="">
                    <span class="play"></span>
                </a>
            </div>
            <div class="service_stages service_block">
                <h4 class="service_block-title"><i>Робочі зони та топове обладнання клініки </i> до ваших послуг</h4>
                <ul class="service_stages-items">
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Заголовок назва</span>
                            <p class="block_content-descr">Стоматолог-хірург візуально оглядає порожнину рота, оцінює
                                розташування 8-ки. За потреби робиться панорамний знімок (ортопантомограма)</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Заголовок назва</span>
                            <p class="block_content-descr">Після введення ін’экції місцевої анестезії лікар захоплює
                                щипцями проблемний третій моляр, акуратними рухами розхитує його і вириває. Пацієнт не
                                відчуває болю.</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="img/service_block.png" alt="">
                        </div>
                        <div class="block_content">
                            <span class="block_content-title">Заголовок назва</span>
                            <p class="block_content-descr">Лунка, що утворилася, обробляється антисептиком. Якщо
                                портібно, лунка ушивається. Тривалість операції - до 20 хвилин</p>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>