<section class="doctor_main">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Про спеціаліста</h2>
            <p class="pages_subtitle">Шелест <i>Євген Леонідович</i></p>
        </div>
        <div class="block_content">
            <div class="block_content-img">
                <img src="img/main_about-company.png" alt="">
            </div>
            <div class="block_flex">
                <div class="block_content-descr">
                    <p>Заслужений лікар України Почесний президент Асоціації імплантологів України.
                        Одним із перших провів операцію щодо встановлення дентального імплантату в Україні. Досвідчений
                        клініцист досконало володіє найскладнішими техніками з регенерації кістки, корекції ясен,
                        імплантації будь-якого ступеня складності та зубозберігаючими операціями.
                        Автор численних статей з дентальної імплантації. Доповідач на стоматологічних форумах та
                        конференціях. Веде навчальні програми для молодих лікарів, інтернів, студентів старших курсів. Є
                        засновником навчальному центрально «Shelest Education».</p>
                </div>
                <div class="block_content-form">
                    <form action="#" class="form form_wide">
                        <h4 class="form_title">Записатися на консультацію</h4>
                        <div class="inputs">
                            <input type="text" name="name" placeholder="Ім'я">
                            <input type="text" name="phone" placeholder="Телефон">
                        </div>
                        <button class="btn btn_modal-two btn_submitForm">Записатись</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>