<section class="about-us_block">
    <div class="container">
        <div class="block_title">
            <p class="pages_subtitle">Ми – стоматологічна клініка, <i>якій можна довіряти</i></p>
            <span class="pages_descr">Адаптація зарубіжного досвіду, впровадження нових стандартів стоматології,
                всебічне доопрацювання деталей – ці складові дозволили створити ту Клініку, якою вона є на
                сьогоднішній
                день.</span>
        </div>
        <div class="block_content">
            <div class="block_content-img">
                <img src="img/about-us_block.png" alt="">
            </div>
            <div class="block_content-descr">
                <h5 class="descr-title">Нові технології та абсолютна <i>відповідність міжнародним стандартам</i>
                </h5>
                <p class="descr-text">Ці речі представлені в 2-х стоматологічних кабінетах, хірургічному відділенні
                    з
                    операційною, окремому рентгенкабінеті, зуботехнічній лабораторії, що загалом дозволяє на порядок
                    скоротити час лікування, зробити його комфортним та провести всі етапи підготовки та лікування
                    в одному місці.</p>
                <a href="#" class="btn btn_modal-two">Наше обладнання</a>
            </div>
        </div>
    </div>
</section>