<section class="about-us_system">
    <div class="container">
        <div class="block_title">
            <p class="pages_subtitle">Система <i>повного супроводу</i></p>
            <span class="pages_descr">Наші можливості дозволяють провести всі види діагностичних досліджень,
                імплантологічних операцій, кістково-пластичних операцій, естетичних реставрацій, протезування,
                ортодонтичних корекцій та терапевтичне лікування у дорослих та дітей, а також лікування патологій
                скронево-нижнєщелепного суглобу.</span>
        </div>
        <div class="block_content">
            <div class="block_content-img">
                <img src="img/system.png" alt="">
            </div>
            <div class="block_content-descr">
                <p>«Система повного супроводу» – це наш принцип взаємодії з пацієнтами. В нашій Клініці все спрямоване
                    на створення абсолютної атмосфери комфорту для відвідувачів.</p>
                <p>Ми несемо відповідальність за здоров‘я
                    наших пацієнтів та за якість нашого лікування, тому ми постійно контролюємо його після його
                    завершення.</p>
                <div class="descr-img" style="background: url('img/system2.png') center center/cover no-repeat;"></div>
            </div>
        </div>
    </div>
</section>