<section class="abot-us_story">
    <div class="container">
        <div class="block_title">
            <h2 class="pages_title">Наша історія</h2>
            <p class="pages_subtitle">Ми почали з однієї мети: <i>викликати посмішку у наших клієнтів</i></p>
            <span class="pages_descr">Засновник та ідейний натхненник нашої Клініки Шелест Євгеній Леонідович - один з
                перших, хто поставив дентальний імплант в Україні. Маючи 20-річний досвід роботи у практичній медицині,
                а також безліч науково-дослідницьких розробок, він втілив весь свій досвід у Клініці, яка була відкрита
                у 2002 році і яка на цей час працює більше ніж 20 років.‍</span>
        </div>
        <div class="block_content">
            <div class="block_content-descr">
                <p>З першого дня роботи Клініка спеціалізуєтся на дентальній імплантації та лікуванні складних
                    стоматологічних випадків.‍Досвід роботи показав, що для досягнення максимально прогнозованого
                    результату є потреба у розвитку супутніх напрямків, кожен з яких розвивався на піку медичних
                    технологій.</p>
                <p>Клініка постійно дооснащується найсучаснішим обладнанням. </p>
                <p>У розпорядженні лікарів є дентальні мікроскопи Leica, Carl Zeiss та CJ optic з відеокамерою, конусно
                    - променевий томограф Planmeca, сканер Nobel Procera, Кадіакс-діагностик, внутрішньоротовий сканер
                    3Shape, 3D принтер, а також одна з кращих наркозних станцій з біс - монітором.</p>
                <p>Лікарі клініки є висококваліфікованими спеціалістами, постійно вдосконалюють свою майстерність на
                    індивідуальних майстер-класах у найкращих світових фахівців. Вони також відкрито діляться своїм
                    досвідом, проводячи власні майстер-класи в Учбовому центрі Клініки.</p>
            </div>
        </div>
        <div class="block_content-img">
            <img src="img/story.png" alt="">
        </div>
    </div>
</section>