<section class="about-us_steps">
    <div class="container">
        <div class="block_title">
            <p class="pages_subtitle">Ми – стоматологічна клініка, <i>якій можна довіряти</i></p>
            <span class="pages_descr">Адаптація зарубіжного досвіду, впровадження нових стандартів стоматології,
                всебічне доопрацювання деталей – ці складові дозволили створити ту Клініку, якою вона є на
                сьогоднішній
                день.</span>
        </div>
        <div class="block_content">
            <ul class="block_content-steps">
                <li>
                    <span class="number">01</span>
                    <p>20 років успішної роботи клініки, заснованої на філософії бездоганної та глибокої діагностики,
                        оптимального плану лікування та безкомпромісного виконання результатів роботи.</p>
                </li>
                <li>
                    <span class="number">02</span>
                    <p>Пацієнти стають для нас друзями, адже ми не тільки відповідальні за результат своєї роботи, але й
                        проводимо постійний контроль для забезпечення довготривалих результатів.</p>
                </li>
                <li>
                    <span class="number">03</span>
                    <p>Замкнений цикл лікування - наявність фахівців усіх галузей стоматології та всіх необхідних
                        діагностичних процедур, КТ-кабінету та власної зуботехнічної лабораторії в одному місці:
                        мінімальна витрата часу та зручність для наших пацієнтів.</p>
                </li>
                <li>
                    <span class="number">04</span>
                    <p>Стоматологія - одна з галузей медицини, що найбільш швидко розвивається, саме тому наші лікарі не
                        тільки постійно відвідують курси топових фахівців, але й проводять їх у нашому власному
                        навчальному центрі Shelest Education.</p>
                </li>
                <li>
                    <span class="number">05</span>
                    <p>Наша клініка – синергія здоров'я та естетики, для досягнення ідеальних результатів в клініці
                        Шелеста працюють лікарі-косметологи.</p>
                </li>
                <li>
                    <span class="number">06</span>
                    <p>Комфортне вирішення стоматологічних проблем підвищеної складності – наша спеціалізація.</p>
                </li>
                <li>
                    <span class="number">07</span>
                    <p>Ми використовуємо тільки найкращі технології та матеріали, які представлені на ринку – жодних
                        компромісів!</p>
                </li>
            </ul>
            <div class="block_content-btn">
                <div>
                    <button class="btn btn_modal-two btn_modalOpen">Записатися на консультацію</button>
                </div>
                <div>
                    <a href="#" class="btn btn_opacity">Огляд послуг</a>
                </div>
            </div>
        </div>
    </div>
</section>