.our-team_main {
    position: relative;
    padding: 100px 0 35px;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: $bgColor;
    }

    .container {
        .team_items {
            margin-top: 40px;

            .team_item {
                display: block;
                margin-bottom: 30px;

                &:last-child {
                    margin: 0;
                }

                .img {
                    margin: 0 auto;
                    height: 470px;
                    width: 340px;
                }

                .team_title {
                    color: #E3C7B7;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    display: block;
                    margin-top: 10px;
                }

                .team_subtitle {
                    display: block;
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .team_descr {
                    display: block;
                    margin-top: 15px;
                    color: #C9C9C9;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}


@media (min-width: 648px) {
    .our-team_main {
        padding: 100px 0 25px;

        .container {
            .team_items {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                flex-wrap: wrap;
                gap: 40px 20px;

                .team_item {
                    width: calc(33% - 12px);
                    margin: 0;

                    .img {
                        width: 100%;
                        height: auto;
                        height: 280px;
                        max-width: auto;
                    }
                }
            }
        }
    }
}



@media (min-width: 960px) {
    .our-team_main {
        .container {
            .team_items {
                .team_item {
                    .img {
                        width: 100%;
                        height: auto;
                        height: 410px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1366px) {
    .our-team_main {
        padding: 210px 0 70px;

        .container {
            .team_items {
                .team_item {
                    width: calc(25% - 15px);
                    transition: .2s all ease;
                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}


@media (min-width: 1880px) {
    .our-team_main {
        padding: 240px 0 100px;

        .container {
            .team_items {
                gap: 60px 40px;
                .team_item {
                    width: calc(25% - 30px);
                    .img {
                        height: 550px;
                    }
                }
            }
        }
    }
}